Add high-level recap of the concept of "scope"

This is about adding a new paragraph at the beginning of  Section 3 "Format of Scope", like requested for draft-ietf-ace-oscore-gm-admin during its WG Last Call.

The text below is used in Section 3 "Format of Scope" of draft-ietf-ace-oscore-gm-admin.

> Building on the definition in {{Section 3.3 of RFC6749}} considered in the ACE framework {{RFC9200}}, scope denotes: the permissions that the Client (i.e., the Administrator) seeks to obtain from the AS for accessing resources at a Resource Server (i.e., the Group Manager); and the permissions that the AS actually issues to the Client following its request. This process is detailed in {{Sections 5.8.1 and 5.8.2 of RFC9200}}.